body {
    margin: 0;
    padding: 0;
    text-align: center;
}

nav {
    margin: 0;
    background: blue;
}

nav ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
    /* margin-left: 15%; */
    /* margin-right: 15%; */
    padding: 0vh;
}

nav ul li {
    display: inline;
    vertical-align: center;
    padding: 5px;
}

nav ul li p {
    color: white;
    margin: 0; 
    padding: 0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.nav_item_wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
}

.nav_item_wrapper p, .nav_item_wrapper div{
    display: inline;
}

.slider_container {
}

.slider {
    display: block;
}

.clickable:hover {
    color: lightgray;
    cursor: pointer;
}

#container {
    position: absolute;
    bottom: 0;
    display: table;
    width: 100%;
    height: 89%;
    border-spacing: 2px;
}

.item {
    display: table-cell;
    text-align: center;
    background: white;
    vertical-align: bottom;
    height: 100%;
}

.inner_item {
    background: blue;
}
