body {
    margin: 0;
    padding: 0;
    text-align: center;
}

#container {
    position: absolute;
    bottom: 0;
    display: table;
    height 50vh;
    width: 100%;
    border-spacing: 5px;
}

.item {
    display: table-cell;
    text-align: center;
    height: 90vh;
    background: white;
    vertical-align: bottom;
}

.inner_item {
    background: blue;
}
